<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<li><a href="{% url 'annotate_aggregate:store'%}">To all Store </a></li>
<li><a href="{% url 'annotate_aggregate:book'%}">To all Books </a></li>
<li><a href="{% url 'annotate_aggregate:publisher'%}">To all publisher </a></li>
{% if author %}
    <ul>
    {% for i in author %}
        <h3>Authors:</h3>
        <p><a href="{% url 'annotate_aggregate:authors_in' i.id %}"> {{ i.name }}</a><br> Age {{i.age}}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No author are available.</p>
{% endif %}
</body>
</html>