<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if books %}
    <ul>
        <h1>{{ authors.name }}</h1>

        {% for b in books %}
            <li><a href="{% url 'annotate_aggregate:book' b.id %}">Book - {{ b.name }}</a></li>
            <p>price - {{ b.price }}</p>
            <p>rating -{{ b.rating }}</p>
            <p>pages - {{ b.pages }}</p>
        {% endfor %}

    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}
</body>
</html>