<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<li><a href="{% url 'annotate_aggregate:authors'%}">To all Authors </a></li>
<li><a href="{% url 'annotate_aggregate:store'%}">To all Store </a></li>
<li><a href="{% url 'annotate_aggregate:publisher'%}">To all publisher </a></li>
{% if books %}
    <ul>
    {% for i in books %}
        <li><p>Book: <a href="{% url 'annotate_aggregate:book_in' i.id %}"> {{ i.name }}</a></p></li>
        <p>Rating: {{i.rating}}</p>
        <p>Price: {{i.price}}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No book are available.</p>
{% endif %}
</body>
</html>