<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if books %}
  <ul>
      {% for i in books %}
      <p><h3>{{i.name}}</p></h3>
        <p>Price - {{i.price}}</p>
        <p>Rating - {{i.rating}}</p>
        <p>Pages - {{i.pages}}</p>
        <p>Pup date - {{i.pupdate}}</p>
        <li><p>Publisher: <a href="{% url 'annotate_aggregate:authors_in' i.publisher.id %}"> {{ i.publisher.name }}</a></p></li>
            <li><p>Author: </p></li>
          {% for b in i.authors.all %}
            <p><a href="{% url 'annotate_aggregate:authors_in' b.id %}"> {{ b.name }}</a></p>
          {% endfor %}
      {% endfor %}
  </ul>
{% else %}
    <p>No book are available.</p>
{% endif %}
</body>
</html>