<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book info</title>
</head>
<body>
{% if books %}
    <ul>
    {% for b in books %}
        <h1> {{ b.name }}</h1>
        <p>pages - {{b.pages}} </p>
        <p>price - {{ b.price }}</p>
        <p>rating - {{ b.rating }}</p>
        <p>pubdate - {{ b.pubdate }}</p>
        <li><a href="{% url 'annotate_aggregate:publisher' b.publisher.id %}">Publisher - {{ b.publisher.name }}</a></li>
        {% for p in b.authors.all %}
            <li><a href="{% url 'annotate_aggregate:book' p.id %}">Author - {{ p.name }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No book are available.</p>
{% endif %}
</body>
</html>