<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
</head>
<body>
<li><a href="{% url 'annotate_aggregate:book'%}">To all Books </a></li>
<li><a href="{% url 'annotate_aggregate:authors'%}">To all Authors </a></li>
<li><a href="{% url 'annotate_aggregate:store'%}">To all Store </a></li>
{% if pub %}
    <ul>
      <h2>Publisher name:</h2>
      {% for i in pub %}
        <li><p><a href="{% url 'annotate_aggregate:publisher_in' i.id %}"> {{ i.name }}</a></p></li>
        <p>Number of published books: {{ i.a }}</p>
      {% endfor %}
    </ul>
{% else %}
  <p>No Publisher are available</p>
{% endif %}
</body>
</html>