<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li><a href="{% url 'annotate_aggregate:publisher-create' %}"> Create Publisher</a></li>
    <h2>Publishers</h2>
    <ul>
        {% for publisher in object_list %}
            <li><a href="{% url 'annotate_aggregate:publisher-detail' publisher.id %}">{{ publisher.name }}</a></li>
        {% endfor %}
    </ul>

{% if page_obj.has_previous %}
            <a href="?page=1">First page</a>&nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>&nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
        {% endif %}
</body>
</html>