<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store info</title>
</head>
<body>
<a href="{% url 'annotate_aggregate:store'%}">Back to all Store </a></li>
<li><a href="{% url 'annotate_aggregate:authors'%}">To all Authors </a></li>
<li><a href="{% url 'annotate_aggregate:books-list'%}">To all Books </a></li>
<li><a href="{% url 'annotate_aggregate:publisher-list'%}">To all Publisher</a></li>
{% if book %}
    <ul>
    {% for i in book %}
        <h2>Book name: {{ i.name }}</h2>
            <p>Book info:</p>
            <p>Price - {{i.price}}</p>
            <p>Pages - {{i.pages}}</p>
            <p>Rating - {{i.rating}}</p>
            <p><a href="{% url 'annotate_aggregate:publisher-detail' i.publisher_id %}">Publisher {{ i.publisher.name }} </a></p>
        {% for b in i.authors.all %}
            <p><a href="{% url 'annotate_aggregate:authors_in' b.id %}">Author: {{ b.name }} - Age {{ b.age }} </a></p>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No book are available.</p>
{% endif %}
</body>
</html>