<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store books</title>
</head>
<body>
{% if book_store %}
    <ul>
    {% for book in book_store %}
        <h1> {{ book.name }}</h1>
        {% for b in book.books.all %}
            <li><a href="{% url 'annotate_aggregate:book' b.id %}">{{ b.name }}</a></li>
            <p>Price - {{ b.price }}</p>
            <p>Rating - {{ b.rating }}</p>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No book are available.</p>
{% endif %}

</body>
</html>