<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<li><a href="{% url 'annotate_aggregate:authors'%}">To all Authors </a></li>
<li><a href="{% url 'annotate_aggregate:book'%}">To all Books </a></li>
<li><a href="{% url 'annotate_aggregate:publisher'%}">To all publisher </a></li>
<h1>STORE</h1>
{% if store_list %}
    <ul>
        <h2>Store name: </h2>
    {% for store in store_list %}
        <h3>{{ store.name }}</h3>
        <h3> Store books:</h3>
            {% for i in store.books.all %}
            <li><a href="{% url 'annotate_aggregate:store_in' i.id %}"> {{ i.name }} </a></li>
                <p> Price - {{ i.price}} </p>
            {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No store are available.</p>
{% endif %}
</body>
</html>