{% extends "base.html" %}
{% block content %}
<li><a href="{% url 'annotate_aggregate:authors'%}">Back to all Authors </a></li>

{% if books %}

    <ul>
      <p>Decimal price - {{avg}}</p>
    {% for i in books %}
        <h3>Books:</h3>
        <p>{{i.name}}</p>
        <p>Price - {{i.price}}</p>
        <p>Rating - {{i.rating}}</p>
        <p>Pages - {{i.pages}}</p>
        <p><a href="{% url 'annotate_aggregate:publisher-detail' i.publisher.id %}">Publisher - {{ i.publisher.name }}</a></p>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}
{% endblock %}