{% extends "base.html" %}
{% block content %}
<h2>Books</h2>
    <ul>
        {% for book in object_list %}
            <li><a href="{% url 'annotate_aggregate:book-detail' book.id %}">{{ book.name }}</a></li>
            <p> {{book.num_books}}</p>
        {% endfor %}
    </ul>
{% if page_obj.has_previous %}
            <a href="?page=1">First page</a>&nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>&nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
        {% endif %}

<form action="." method="get">
    <label>Page number<input type="text" name="page"></label>
    <input type="submit">
</form>
{% endblock %}