{% extends "base.html" %}
{% block content %}
<li><a href="{% url 'annotate_aggregate:publisher-create' %}"> Create Publisher</a></li>
    <h2>Publishers</h2>
    <ul>
        {% for publisher in object_list %}
            <li><a href="{% url 'annotate_aggregate:publisher-detail' publisher.id %}">{{ publisher.name }}</a></li>
            <p>The number of published books {{publisher.num_books}}</p>
        {% endfor %}
    </ul>

{% if page_obj.has_previous %}
            <a href="?page=1">First page</a>&nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>&nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
        {% endif %}
<form action="." method="get">
    <label>Page number<input type="text" name="page"></label>
    <input type="submit">
</form>
{% endblock %}